extends layout

block content
  h1= title

  if products.length > 0
    each product in products
      div.card
        h4= product.brand
        h4= product.name
        p= product.price
  else
    h3 There are no products that match your request
